aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
asgiref
async-timeout
attrs
backoff
bcrypt
blinker
blis
build
cachetools
catalogue
certifi
cffi
chardet
charset-normalizer
chroma-hnswlib
chromadb
click
cloudpathlib
coloredlogs
confection
cryptography
cymem
dataclasses-json
Deprecated
distro
dnspython
durationpy
email_validator
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
eval_type_backport
exceptiongroup
faiss-cpu
# faiss-gpu
fastapi
fastapi-cli
filelock
filetype
flatbuffers
frozenlist
fsspec
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-genai
google-generativeai
googleapis-common-protos
greenlet
grpcio
grpcio-status
h11
httpcore
httplib2
httptools
httpx
httpx-sse
huggingface-hub
humanfriendly
idna
importlib_metadata
importlib_resources
Jinja2
jiter
joblib
jsonpatch
jsonpath-python
jsonpointer
jsonschema
jsonschema-specifications
kubernetes
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-huggingface
langchain-openai
langchain-text-splitters
langcodes
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
language_data
lxml
marisa-trie
markdown-it-py
MarkupSafe
marshmallow
mdurl
mistralai
mmh3
monotonic
mpmath
msgpack
multidict
murmurhash
mypy-extensions
narwhals
networkx
numpy
# nvidia-cublas-cu12
# nvidia-cuda-cupti-cu12
# nvidia-cuda-nvrtc-cu12
# nvidia-cuda-runtime-cu12
# nvidia-cudnn-cu12
# nvidia-cufft-cu12
# nvidia-curand-cu12
# nvidia-cusolver-cu12
# nvidia-cusparse-cu12
# nvidia-cusparselt-cu12
# nvidia-nccl-cu12
# nvidia-nvjitlink-cu12
# nvidia-nvtx-cu12
oauthlib
onnxruntime
openai
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
orjson
overrides
packaging
pandas
passlib
pdfminer.six
pdfplumber
pillow
pinecone-client
pinecone-plugin-interface
posthog
preshed
propcache
proto-plus
protobuf
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic-settings
pydantic_core
pydeck
Pygments
PyJWT
pymongo
PyMuPDF
pyparsing
pypdf
PyPDF2
pypdfium2
PyPika
pyproject_hooks
pytesseract
python-dateutil
python-dotenv
python-multipart
python-pptx
pytz
PyYAML
referencing
regex
reportlab
requests
requests-oauthlib
requests-toolbelt
rich
rich-toolkit
rpds-py
rsa
safetensors
scikit-learn
scipy
sentence-transformers
shellingham
six
smart-open
smmap
sniffio
spacy
spacy-legacy
spacy-loggers
SQLAlchemy
srsly
starlette
streamlit
sympy
tenacity
thinc
threadpoolctl
tiktoken
tokenizers
toml
tomli
torch
tornado
tqdm
transformers
# triton
typer
typing-inspect
typing-inspection
typing_extensions
tzdata
uritemplate
urllib3
uvicorn
uvloop
wasabi
watchdog
watchfiles
weasel
websocket-client
websockets
wrapt
XlsxWriter
yarl
zipp
zstandard
